body {
    font-family: 'Montserrat', sans-seri;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}


/* Headings */

.main-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}


/* Container section */

.container-fluid {
    padding: 7% 15%;
}


/* Sections */

.colored-section {
    background-color: #ff4c68; 
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar { 
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: lighter;
    font-size: 1.2rem;
}


/* Title section  */

#title {
    text-align: left;
    padding-top: 3%;
}

#title .container-fluid {
    padding-top: 3%;
}

.heading-image {
    transform: rotate(20deg);
    width: 60%;
    position: absolute;
    right: 15%;
    }

@media (max-width:1024px) {
    .heading-image {
        position: static; 
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}


/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Features section */

#features {
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 6.2%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}


/* Testimonial section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;    
}

.testimonial-img {
    border-radius: 100%;
    margin: 2%;
    width: 10%;
}


/* Press section */

#press {
    padding-bottom: 3%; 
    background-color: #ef8172;  
}

.press-logo {
    width: 15%;
    margin: 3% 3% 5%;
}


/* Pricing section */

#pricing {
    padding: 100px;
}

.pricing-card {
    padding: 3% 2%;
}


/* cta section */

.cta-heading {
    font-size: 3rem;
}


/* Footer section */

#footer {
    line-height: 3rem;
    font-size: small;
}

.footer-icons {
   color: #000;
   margin: 0 12px;
   font-size: 1.2rem;
}

#footer .container-fluid {
    padding-bottom: 0;
}
